{% extends 'base.html' %}

{% block body %}
<h2>Add post</h2>
<form action="/add_posts" method="post">
    <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input class="form-control" id="title" name="title" type="title">

    </div>
    <div class="mb-3">
        <label class="form-label" for="subtitle">Subtitle</label>
        <input class="form-control" id="subtitle" name="subtitle" type="subtitle">
    </div>
    <div class="mb-3">
        <label class="form-label" for="content">Content</label>
        <input class="form-control" id="content" name="content" type="content">
    </div>
    <div class="mb-3">
        <label class="form-label" for="user_id">User_id</label>
        <input class="form-control" id="user_id" name="user_id" type="user_id">
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>
</form>
{% endblock %}


