<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div>

                   {% if user %}
                     <h3> Username: {{user.username}}</h3>
                   <h3>Email: {{user.email_id}}</h3>
                   <h3>Password: {{user.password}}</h3>
                   {% endif %}
                {% for user in users %}
                     <h3> Username: {{user.username}}</h3>
                   <h3>Email: {{user.email_id}}</h3>
                   <h3>Password: {{user.password}}</h3>
                {% endfor %}

            </div>
</body>
</html>