{% extends 'base.html' %}

{% block body %}
<h2>Update post</h2>
<form action="/update_posts/{{my_data.id}}" method="post">
    <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input class="form-control" id="title" name="title" type="title" value="{{my_data.title}}">
    </div>
    <div class="mb-3">
        <label class="form-label" for="subtitle">Subtitle</label>
        <input class="form-control" id="subtitle" name="subtitle" type="subtitle" value="{{my_data.subtitle}}">
    </div>
    <div class="mb-3">
        <label class="form-label" for="content">Content</label>
        <input class="form-control" id="content" name="content" type="content" value="{{my_data.content}}">
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>
{% endblock %}



